# Игнорировать всё
*

# Но разрешить эти типы файлов
!LibOpt.c
!LibOpt.h
!products.c
!README.md
!LICENSE
!NOTICE
!products.txt
!send.txt
!.gitignore
# Игнорировать сам гит-игнор (если ты так хочешь, но обычно его оставляют)

